apiVersion: apps/v1
kind: Deployment
metadata:
  name: machine-os-builder
  namespace: {{.TargetNamespace}}
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: machine-os-builder
  template:
    metadata:
      labels:
        k8s-app: machine-os-builder
    spec:
      containers:
      - name: hello-openshift
        image: openshift/hello-openshift:latest
        ports:
        - containerPort: 80