. {
    errors
    health :18080
    mdns {{ .ControllerConfig.DNS.Spec.BaseDomain }} {{`{{.Cluster.MasterAmount}}`}} {{`{{.Cluster.Name}}`}} {{`{{.NonVirtualIP}}`}}
    forward . {{`{{- range $upstream := .DNSUpstreams}} {{$upstream}}{{- end}}`}}
    cache 30
    reload
    template IN {{`{{ .Cluster.IngressVIPRecordType }}`}} {{ .ControllerConfig.DNS.Spec.BaseDomain }} {
        match .*.apps.{{ .ControllerConfig.DNS.Spec.BaseDomain }}
        answer "{{`{{"{{ .Name }}"}}`}} 60 in {{`{{"{{ .Type }}"}}`}} {{ onPremPlatformIngressIP .ControllerConfig }}"
        fallthrough
    }
    template IN {{`{{ .Cluster.IngressVIPEmptyType }}`}} {{ .ControllerConfig.DNS.Spec.BaseDomain }} {
        match .*.apps.{{ .ControllerConfig.DNS.Spec.BaseDomain }}
        fallthrough
    }
    template IN {{`{{ .Cluster.APIVIPRecordType }}`}} {{ .ControllerConfig.DNS.Spec.BaseDomain }} {
        match api.{{ .ControllerConfig.DNS.Spec.BaseDomain }}
        answer "{{`{{"{{ .Name }}"}}`}} 60 in {{`{{"{{ .Type }}"}}`}} {{ onPremPlatformAPIServerInternalIP .ControllerConfig }}"
        fallthrough
    }
    template IN {{`{{ .Cluster.APIVIPEmptyType }}`}} {{ .ControllerConfig.DNS.Spec.BaseDomain }} {
        match api.{{ .ControllerConfig.DNS.Spec.BaseDomain }}
        fallthrough
    }
    template IN {{`{{ .Cluster.APIVIPRecordType }}`}} {{ .ControllerConfig.DNS.Spec.BaseDomain }} {
        match api-int.{{ .ControllerConfig.DNS.Spec.BaseDomain }}
        answer "{{`{{"{{ .Name }}"}}`}} 60 in {{`{{"{{ .Type }}"}}`}} {{ onPremPlatformAPIServerInternalIP .ControllerConfig }}"
        fallthrough
    }
    template IN {{`{{ .Cluster.APIVIPEmptyType }}`}} {{ .ControllerConfig.DNS.Spec.BaseDomain }} {
        match api-int.{{ .ControllerConfig.DNS.Spec.BaseDomain }}
        fallthrough
    }
}
