# Configuration template for FRR, which is used to manage the BGP routing.

hostname {{`{{ .ShortHostname }}`}}

log file /var/log/frr/frr.log
service integrated-vtysh-config
line vty

debug bfd peer
debug bfd network
debug bfd zebra

debug bgp graceful-restart
debug bgp neighbor-events
debug bgp updates
debug bgp update-groups

router bgp {{ with $bgp := onPremPlatformBGPConfiguration .ControllerConfig }}{{ $bgp.ASN }}{{ end }}
  bgp router-id {{`{{.NonVirtualIP}}`}}
  bgp log-neighbor-changes
  bgp graceful-shutdown
  no bgp ebgp-requires-policy

  {{- with $bgp := onPremPlatformBGPConfiguration .ControllerConfig }}
  {{- range $i, $peer := $bgp.Peers }}
  neighbor uplink-{{ $i }} peer-group
  neighbor uplink-{{ $i }} remote-as external
  neighbor uplink-{{ $i }} bfd
  neighbor uplink-{{ $i }} bfd profile openshift
  neighbor uplink-{{ $i }} password {{ $peer.Password }}
  neighbor {{ $peer.IP }} peer-group uplink-{{ $i }}
  {{- end }}
  {{- end }}

  address-family ipv4 unicast
    redistribute connected route-map vip
  exit-address-family

  address-family ipv6 unicast
    redistribute connected route-map vip
  {{- with $bgp := onPremPlatformBGPConfiguration .ControllerConfig }}
  {{- range $i, $peer := $bgp.Peers -}}
    neighbor uplink-{{ $i }} activate
  {{- end }}
  {{- end }}
  exit-address-family

  address-family l2vpn evpn
  {{- with $bgp := onPremPlatformBGPConfiguration .ControllerConfig }}
  {{- range $i, $peer := $bgp.Peers }}
    neighbor uplink-{{ $i }} activate
  {{- end }}
  {{- end }}
  exit-address-family

ip nht resolve-via-default

bfd
  profile openshift
    detect-multiplier 10
    transmit-interval 500
    receive-interval 500

access-list 7 seq 10 permit {{`{{ .Cluster.APIVIP }}`}}/{{`{{ .Cluster.VIPNetmask }}`}}

route-map vip permit 1
    match ip address 7
