contents: |
  [Service]
  ExecStart=/usr/bin/env bash -c \
    " \
      if grep rhcos /etc/os-release > /dev/null; \
      then \
        echo CGROUP_DRIVER_FLAG=--cgroup-driver=systemd > /etc/kubernetes/kubelet-workaround; \
        mount -o remount,rw /sys/fs/cgroup; \
        ln --symbolic /sys/fs/cgroup/cpu,cpuacct /sys/fs/cgroup/cpuacct,cpu; \
      fi \
    "
name: kubelet-workaround.service
