name: nodeip-configuration.service
enabled: {{if gt (len (onPremPlatformAPIServerInternalIPs .)) 0}}true{{else}}false{{end}}
contents: |
  [Unit]
  Description=Writes IP address configuration so that kubelet and crio services select a valid node IP
  # This only applies to VIP managing environments where the kubelet and crio IP
  # address picking logic is flawed and may end up selecting an address from a
  # different subnet or a deprecated address
  Wants=NetworkManager-wait-online.service
  After=NetworkManager-wait-online.service firstboot-osupdate.target
  Before=kubelet-dependencies.target ovs-configuration.service

  [Service]
  # Need oneshot to delay kubelet
  Type=oneshot
  SyslogIdentifier=nodeip-configuration
  # Would prefer to do Restart=on-failure instead of this bash retry loop, but
  # the version of systemd we have right now doesn't support it. It should be
  # available in systemd v244 and higher.
  ExecStart=/bin/bash -c " \
    until \
    /usr/bin/podman run --rm \
    --authfile /var/lib/kubelet/config.json \
    --env 'ENABLE_NODEIP_DEBUG=true' \
    --net=host \
    --security-opt label=disable \
    --volume /etc/systemd/system:/etc/systemd/system \
    --volume /run/nodeip-configuration:/run/nodeip-configuration \
    {{ .Images.baremetalRuntimeCfgImage }} \
    node-ip \
    set \
    --platform {{ .Infra.Status.PlatformStatus.Type }} \
    {{if not (isOpenShiftManagedDefaultLB .) -}}
    --user-managed-lb \
    {{end -}}
    {{if or (eq .IPFamilies "IPv6") (eq .IPFamilies "DualStackIPv6Primary") -}}
    --prefer-ipv6 \
    {{end -}}
    --retry-on-failure \
    ${NODEIP_HINT:-} \
    {{ range onPremPlatformAPIServerInternalIPs . }}{{.}} {{end}} \
    {{ range onPremPlatformIngressIPs . }}{{.}} {{end}}; \
    do \
    sleep 5; \
    done"
  ExecStart=/bin/systemctl daemon-reload
  ExecStartPre=/bin/mkdir -p /run/nodeip-configuration
  {{if .Proxy -}}
  EnvironmentFile=/etc/mco/proxy.env
  {{end -}}
  ExecStartPost=+/usr/local/bin/configure-ip-forwarding.sh
  StandardOutput=journal+console
  StandardError=journal+console
  EnvironmentFile=-/etc/default/nodeip-configuration

  [Install]
  RequiredBy=kubelet-dependencies.target
