apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: machine-config-daemon
  namespace: {{.TargetNamespace}}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - patch
