contents: |
  [Unit]
  Description=Kubernetes Kubelet
  Wants=rpc-statd.service
  Requires=docker.service kubelet-workaround.service
  After=docker.service kubelet-workaround.service

  [Service]
  EnvironmentFile=-/etc/kubernetes/kubelet-workaround

  ExecStart=/usr/bin/hyperkube \
      kubelet \
        --bootstrap-kubeconfig=/etc/kubernetes/kubeconfig \
        --kubeconfig=/var/lib/kubelet/kubeconfig \
        --rotate-certificates \
        --cni-conf-dir=/etc/kubernetes/cni/net.d \
        --cni-bin-dir=/var/lib/cni/bin \
        --network-plugin=cni \
        --lock-file=/var/run/lock/kubelet.lock \
        --exit-on-lock-contention \
        --pod-manifest-path=/etc/kubernetes/manifests \
        --allow-privileged \
        --node-labels=node-role.kubernetes.io/master \
        --minimum-container-ttl-duration=6m0s \
        --cluster-dns=10.3.0.10 \
        --cluster-domain=cluster.local \
        --client-ca-file=/etc/kubernetes/ca.crt \
        --cloud-provider=aws \
         \
        --anonymous-auth=false \
        --register-with-taints=node-role.kubernetes.io/master=:NoSchedule \
        $CGROUP_DRIVER_FLAG \

  Restart=always
  RestartSec=10

  [Install]
  WantedBy=multi-user.target
enabled: true
name: kubelet.service
