apiVersion: v1
kind: Namespace
metadata:
  name: openshift-machine-config-operator
  annotations:
    openshift.io/node-selector: ""
  labels:
    name: openshift-machine-config-operator
    openshift.io/run-level: "1"
---
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-openstack-infra
  annotations:
    openshift.io/node-selector: ""
  labels:
    name: openshift-openstack-infra
    openshift.io/run-level: "1"

