apiVersion: apps/v1
kind: Deployment
metadata:
  name: machine-config-operator
  namespace: openshift-machine-config-operator
  labels:
    k8s-app: machine-config-operator
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: machine-config-operator
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        k8s-app: machine-config-operator
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
        openshift.io/required-scc: anyuid
    spec:
      containers:
      - name: machine-config-operator
        image: placeholder.url.oc.will.replace.this.org/placeholdernamespace:machine-config-operator
        args:
        - "start"
        - "--images-json=/etc/mco/images/images.json"
        - "--payload-version=4.18.19"
        - "--operator-image=placeholder.url.oc.will.replace.this.org/placeholdernamespace:machine-config-operator"
        resources:
          requests:
            cpu: 20m
            memory: 50Mi
        env:
          - name: RELEASE_VERSION
            value: "4.18.19"
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - name: images
          mountPath: /etc/mco/images
      - name: kube-rbac-proxy
        image: placeholder.url.oc.will.replace.this.org/placeholdernamespace:kube-rbac-proxy
        ports:
        - containerPort: 9001
          name: metrics
          protocol: TCP
        args:
        - --secure-listen-address=0.0.0.0:9001
        - --config-file=/etc/kube-rbac-proxy/config-file.yaml
        - --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - --upstream=http://127.0.0.1:8797
        - --logtostderr=true
        - --tls-cert-file=/etc/tls/private/tls.crt
        - --tls-private-key-file=/etc/tls/private/tls.key
        resources:
          requests:
            cpu: 20m
            memory: 50Mi
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - mountPath: /etc/tls/private
          name: proxy-tls
        - mountPath: /etc/kube-rbac-proxy
          name: auth-proxy-config
      serviceAccountName: machine-config-operator
      nodeSelector:
        node-role.kubernetes.io/master: ""
      priorityClassName: "system-cluster-critical"
      restartPolicy: Always
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      - key: "node.kubernetes.io/unreachable"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 120
      - key: "node.kubernetes.io/not-ready"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 120
      volumes:
      - name: images
        configMap:
          name: machine-config-operator-images
      - name: proxy-tls
        secret:
          secretName: mco-proxy-tls
      - configMap:
          name: kube-rbac-proxy
        name: auth-proxy-config

