apiVersion: v1
kind: Namespace
metadata:
  name: openshift-machine-config-operator
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    openshift.io/node-selector: ""
  labels:
    name: openshift-machine-config-operator
    openshift.io/run-level: "1"
    openshift.io/cluster-monitoring: "true"
---
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-openstack-infra
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    openshift.io/node-selector: ""
  labels:
    name: openshift-openstack-infra
    openshift.io/run-level: "1"
---
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-kni-infra
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    openshift.io/node-selector: ""
  labels:
    name: openshift-kni-infra
    openshift.io/run-level: "1"
---
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-ovirt-infra
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    openshift.io/node-selector: ""
  labels:
    name: openshift-ovirt-infra
    openshift.io/run-level: "1"
---
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-vsphere-infra
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    openshift.io/node-selector: ""
  labels:
    name: openshift-vsphere-infra
    openshift.io/run-level: "1"
