apiVersion: v1
kind: Service
metadata:
  name: machine-config-daemon
  namespace: openshift-machine-config-operator
  labels:
    k8s-app: machine-config-daemon
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    service.beta.openshift.io/serving-cert-secret-name: proxy-tls
spec:
  type: ClusterIP
  selector:
    k8s-app: machine-config-daemon
  ports:
  - name: metrics
    port: 9001
    protocol: TCP
