contents: |
  [Unit]
  Description=Kubernetes Kubelet
  Wants=rpc-statd.service

  [Service]
  Type=notify
  ExecStartPre=/bin/mkdir --parents /etc/kubernetes/manifests
  ExecStartPre=/bin/rm -f /var/lib/kubelet/cpu_manager_state
  EnvironmentFile=/etc/os-release
  EnvironmentFile=-/etc/kubernetes/kubelet-workaround
  EnvironmentFile=-/etc/kubernetes/kubelet-env

  ExecStart=/usr/bin/hyperkube \
      kubelet \
        --config=/etc/kubernetes/kubelet.conf \
        --bootstrap-kubeconfig=/etc/kubernetes/kubeconfig \
        --rotate-certificates \
        --kubeconfig=/var/lib/kubelet/kubeconfig \
        --container-runtime=remote \
        --container-runtime-endpoint=/var/run/crio/crio.sock \
        --allow-privileged \
        --node-labels=node-role.kubernetes.io/master,node.openshift.io/os_version=${VERSION_ID},node.openshift.io/os_id=${ID} \
        --minimum-container-ttl-duration=6m0s \
        --client-ca-file=/etc/kubernetes/kubelet-ca.crt \
        --cloud-provider=aws \
        --volume-plugin-dir=/etc/kubernetes/kubelet-plugins/volume/exec \
         \
        --anonymous-auth=false \
        --register-with-taints=node-role.kubernetes.io/master=:NoSchedule \
        --v=3 \

  Restart=always
  RestartSec=10

  [Install]
  WantedBy=multi-user.target
enabled: true
name: kubelet.service
