name: "nodeip-configuration.service"
enabled: true
contents: |
  [Unit]
  Description=Writes IP address configuration so that kubelet and crio services select a valid node IP
  # This only applies to VIP managing environments where the kubelet and crio IP
  # address picking logic is flawed and may end up selecting an address from a
  # different subnet or a deprecated address
  Wants=network-online.target
  After=network-online.target ignition-firstboot-complete.service
  Before=kubelet.service crio.service

  [Service]
  # Need oneshot to delay kubelet
  Type=oneshot
  ExecStart=/usr/local/bin/nodeip-finder {{.Infra.Status.PlatformStatus.OpenStack.APIServerInternalIP }}

  [Install]
  WantedBy=multi-user.target

