name: configure-user-slice.service
enabled: true
contents: |
  [Unit]
  Description=Configure user.slice CPU shares based on systemReservedCgroup
  Wants=network-online.target
  After=network-online.target firstboot-osupdate.target
  Before=kubelet-dependencies.target

  [Service]
  # Need oneshot to delay kubelet
  Type=oneshot
  RemainAfterExit=yes
  EnvironmentFile=/etc/system-reserved-compressible.env
  ExecStart=/bin/bash /usr/local/sbin/configure-user-slice.sh ${SYSTEM_RESERVED_COMPRESSIBLE_ENABLED}

  [Install]
  RequiredBy=kubelet-dependencies.target
