name: "machine-config-daemon-firstboot.service"
enabled: true
contents: |
  [Unit]
  Description=Machine Config Daemon Firstboot
  # Make sure it runs only on OSTree booted system
  ConditionPathExists=/run/ostree-booted
  BindsTo=ignition-firstboot-complete.service
  ConditionPathExists=/etc/ignition-machine-config-encapsulated.json
  After=ignition-firstboot-complete.service
  After=network-online.service
  Before=kubelet.service

  [Service]
  # Need oneshot to delay kubelet
  Type=oneshot
  ExecStart=/usr/bin/podman pull --authfile=/var/lib/kubelet/config.json '{{ .Images.setupEtcdEnvKey }}'
  ExecStart=/usr/bin/sh -c "/usr/bin/podman run --authfile=/var/lib/kubelet/config.json --quiet --net=host --entrypoint=cat '{{ .Images.setupEtcdEnvKey }}' /usr/bin/machine-config-daemon > /usr/local/bin/machine-config-daemon"
  ExecStart=/usr/bin/chmod +x /usr/local/bin/machine-config-daemon
  ExecStart=/usr/sbin/restorecon /usr/local/bin/machine-config-daemon
  ExecStart=/usr/local/bin/machine-config-daemon firstboot-complete-machineconfig

  [Install]
  WantedBy=multi-user.target
