name: "machine-config-daemon-pull.service"
enabled: true
contents: |
  [Unit]
  Description=Machine Config Daemon Install
  # This only applies to ostree (MCD) systems;
  # see also https://github.com/openshift/machine-config-operator/issues/1046
  ConditionPathExists=/run/ostree-booted
  ConditionPathExists=/etc/pivot/image-pullspec
  ConditionPathExists=/var/lib/kubelet/config.json
  ConditionPathExists=!/usr/local/bin/machine-config-daemon
  # Pivot should run after MCD image is pulled
  Before=machine-config-daemon-host.service
  After=network-online.target

  [Service]
  # Need oneshot to delay kubelet
  Type=oneshot
  # Image is being pulled explicitly so that an empty /usr/local/bin/machine-config-daemon won't be
  # created in case there was a network problem
  ExecStart=/usr/bin/podman pull --authfile=/var/lib/kubelet/config.json '{{ .Images.setupEtcdEnvKey }}'
  ExecStart=/usr/bin/sh -c "/usr/bin/podman run --authfile=/var/lib/kubelet/config.json --quiet --net=host --entrypoint=cat '{{ .Images.setupEtcdEnvKey }}' /usr/bin/machine-config-daemon > /usr/local/bin/machine-config-daemon"
  ExecStart=/usr/bin/chmod +x /usr/local/bin/machine-config-daemon
  ExecStart=/usr/sbin/restorecon /usr/local/bin/machine-config-daemon

  [Install]
  WantedBy=multi-user.target
