name: "machine-config-daemon-firstboot.service"
enabled: true
contents: |
  [Unit]
  Description=Machine Config Daemon Firstboot
  # Make sure it runs only on OSTree booted system
  ConditionPathExists=/run/ostree-booted
  BindsTo=ignition-firstboot-complete.service
  ConditionPathExists=/etc/ignition-machine-config-encapsulated.json
  After=ignition-firstboot-complete.service
  Before=kubelet.service

  [Service]
  # Need oneshot to delay kubelet
  Type=oneshot
  ExecStart=/usr/libexec/machine-config-daemon firstboot-complete-machineconfig

  [Install]
  WantedBy=multi-user.target
