name: "machine-config-daemon-pull.service"
enabled: true
contents: |
  [Unit]
  Description=Machine Config Daemon Install
  # This only applies to ostree (MCD) systems;
  # see also https://github.com/openshift/machine-config-operator/issues/1046
  ConditionPathExists=/run/ostree-booted
  ConditionPathExists=/etc/pivot/image-pullspec
  After=ignition-firstboot-complete.service
  Before=machine-config-daemon-host.service

  [Service]
  # Need oneshot to delay kubelet
  Type=oneshot
  ExecStart=/usr/bin/sh -c "/usr/bin/podman run --quiet --net=host --entrypoint=cat '{{ .Images.setupEtcdEnvKey }}' /usr/bin/machine-config-daemon > /usr/local/bin/machine-config-daemon"
  ExecStart=/usr/bin/chmod +x /usr/local/bin/machine-config-daemon
  ExecStart=/usr/bin/restorecon /usr/local/bin/machine-config-daemon

  [Install]
  WantedBy=multi-user.target
