name: "machine-config-daemon-pull.service"
enabled: true
contents: |
  [Unit]
  Description=Machine Config Daemon Pull
  # Make sure it runs only on OSTree booted system
  ConditionPathExists=/run/ostree-booted
  # This "stamp file" is unlinked when we complete
  # machine-config-daemon-firstboot.service
  ConditionPathExists=/etc/ignition-machine-config-encapsulated.json
  # Run after crio-wipe so the pulled MCD image is protected against a corrupted storage from a forced shutdown
  Wants=crio-wipe.service NetworkManager-wait-online.service
  After=crio-wipe.service NetworkManager-wait-online.service network.service

  [Service]
  Type=oneshot
  RemainAfterExit=yes
  # See https://github.com/coreos/fedora-coreos-tracker/issues/354
  ExecStart=/bin/sh -c '/bin/mkdir -p /run/bin && chcon --reference=/usr/bin /run/bin'
  ExecStart=/bin/sh -c "while ! /usr/bin/podman pull --authfile=/var/lib/kubelet/config.json --quiet '{{ .Images.machineConfigOperator }}'; do sleep 1; done"
  ExecStart=/usr/bin/podman run --rm --quiet --net=host -v /run/bin:/host/run/bin:z --entrypoint=cp '{{ .Images.machineConfigOperator }}' /usr/bin/machine-config-daemon /host/run/bin
  ExecStart=/bin/chcon system_u:object_r:bin_t:s0 /run/bin/machine-config-daemon
  {{if .Proxy -}}
  EnvironmentFile=/etc/mco/proxy.env
  {{end -}}

  [Install]
  RequiredBy=machine-config-daemon-firstboot.service
